body{
  background-color: #474747;
}

p {
    color: white;
    font-family: "Times New Roman";
    text-align:center;
}

.title {
    color: #ffffff;
    font-family: Consolas;
    text-align:center;
    font-size:40px;
}

a {
    color:#ffffff;
    font-size:25px;
    font-family:Monospace;
    text-decoration: none;
}

div{
    text-align: center;
}

a:hover {
    background-color:grey;
    border-radius: 12px;
}

a:active {
    color: yellow;
}


canvas{
    background-image: url("bg3.jpg");
    border:black 3px solid;

}

table{
   text-align: auto;
   color: black;
   font-size:20px;
   font-family:Monospace;
   text-decoration: none;
   border: 2px solid grey;
   border-radius: 12px;
   border-width: 5px;
}

th{
  font-size:25px;
  font-family: Consolas;
  text-align:center;
  font-size:30px;
}

td{
  text-align: left;
}

#grad {
  background: radial-gradient(circle, white, grey);
  border: 2px solid grey;
  border-radius: 12px;
  border-width: 5px;
}
